<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h3>Edit a task</h3>
    <form method="POST" action="/todo/<%= listing._id %>?_method=PUT">
        <label for="task">Edit a task : </label>
        <input type="text" name="listing[name]" value="<%= listing.name %>" id="task">
        <br><br>
        <button>Update</button>
    </form>
</body>
</html>